
html {
	font-size: 16px;
	font-family: sans-serif, serif;
}



/*Fix the backgronund to viewport*/
.background {
  /*border: 10px black solid;*/
  background-image: url(pictures/background-mountains.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
}

.filter-weak {
  /*border: 10px black solid;*/
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 100%;
}

.filter-strong {
  /*border: 10px black solid;*/
  background: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
}


img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

#img-caption {
	text-align: center;
}


#img-div{
	border: 5px solid yellow;
}

strong {
	font-weight: bold;
}

/*Hero area*/

h1 {
	text-align: center;
}


h1~p {
	text-align: center;
}

body {
	border: 5px solid black;
}

#tribute-info {
	border: 5px solid green;
	width: 40%;
	min-width: 600px;
	margin: 0 auto;

}

#tribute-info h4 {
	text-align: center;
}

ul {
	margin: 0;
	margin-bottom: 100px;
	font-size: 1.2rem;

}

ul li{
	margin: 20px 0;
	line-height: 1.5rem;
}


blockquote p {
	font-style: oblique;
}

footer p {
	border: 5px solid brown;
	text-align: center;
	font-weight: bold;
}